body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 28px;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.product {
  display: flex;
  margin-bottom: 30px;
}

.product img {
  width: 200px;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

/*  */

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}